* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//   :root {
//     --primary-color: #003d48;
//     --secondary-color: #fbb169;
//     --third-color: #1d1d1d;
//     --fourth-color: #5caab8;
//     --spacing: 10px;
//     font-size: 10px;
//     --primary-font: "Orbitron", sans-serif;
//     --secondary-font: "Montserrat", sans-serif;
//     --third-font: "Silkscreen", sans-serif;
//   }
