* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5 ease;
}

:root {
  --primary-color: #0097b2;
  --secondary-color: #fbb13c;
  --third-color: #a76571;
  --fourth-color: #bcd8c1;
  // --primary-font: "Orbitron", sans-serif;
  // --secondary-font: "Montserrat", sans-serif;
  // --third-font: "Silkscreen", sans-serif;
}
