.newCoworker {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20%;
  display: flex;
  justify-content: center;
  .modalNewCoworker {
    border: black 1px solid;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: white;
    padding: 3%;
    box-shadow: 5px 5px 5px rgb(96, 96, 96);

    h1 {
      text-align: center;
    }
    .inputContainer {
      border-top: 1px solid white;
      display: flex;
      height: 60%;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 5%;
      input {
        height: 30%;
        border-radius: 15px;
        border: none;
        text-align: center;
      }
    }
    button {
      align-self: flex-end;
      padding: 1% 2% 1% 2%;
      border-radius: 15px;
      border: none;
      background-color: var(--secondary-color);
      box-shadow: 5px 5px 5px rgb(96, 96, 96);
      cursor: pointer;
    }
  }
}
